html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5em;
}

.hidden {
    display: none !important;
}

#stage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stage.state-loading::after {
    content: "Loading ...";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 100vh;
    text-align: center;
    color: white;
    background: gray;
}

#stage.state-error::after {
    content: "Error";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 100vh;
    text-align: center;
    color: red;
    background: white;
}


#instruction,
#heart-rate {
    height: 1.5em;
}

#canvas-wrapper {
    flex: 1;
}

#mxcanvas {
    height: 100%;
    max-height: 80vh;
    aspect-ratio: 480/894;
}

#heart-rate:not(:empty)::before {
    content: "Heart rate: ";
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

#health-risks-factors {
    display: flex;
    flex-direction: column;
}
