.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (min-aspect-ratio: 1.0) {
  .main {
    width: 100vw;
    height: 100vh;
  }
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  font-weight: bold;
}

.headerRow > div {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.headerRow > div:first-child {
  margin-left: 0;
}
.headerRow > div:last-child {
  margin-right: 0;
}

.contentRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

@media screen and ((max-width: 767px) or (max-aspect-ratio: 1.0)) {
  .headerRow {
    font-size: 70%;
  }
  .main {
    .contentRow {
      flex-wrap: wrap;
    }
  }
}

.footerRow{
  line-height: 30px;
  text-align: center;
  font-size: 70%;
}

.mxcanvas {
  max-height: 100vh;
  aspect-ratio: 0.547;
}
@media screen and ((max-width: 767px) or (max-aspect-ratio: 1.0)) {
  .mxcanvas {
    max-width: 100vw;
    height: 85vh;
  }
  .mxcanvasTopHelper {
    width: 100%;
  }
}


.controlsCol,
.outputsCol {
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media screen and (min-width: 768px) and (min-aspect-ratio: 1.0) {
  .controlsCol {
    min-width: 410px;
  }
  .outputsCol {
    min-width: 465px;
  }
}
@media screen and ((max-width: 767px) or (max-aspect-ratio: 1.0)) {
  .controlsCol,
  .outputsCol {
    width: 100%;
  }
}

.controlSectionTitle,
.outputSectionTitle {
  margin-top: 10px;
  font-size: 90%;
  font-weight: bold;
}

.controlTitle,
.outputLabel {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.outputLabel {
  font-size: 80%;
}

.controlRow,
.outputRow {
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.outputBicol {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.outputBicol > div {
  display: flex;
  flex-direction: column;
}
.outputBicol > div:first-child {
  padding-right: 15px;
}

.outputValue,
.outputCodeValue {
  margin-left: 25px;
}

.outputCodeValue {
  font-family: "Courier New", Courier, monospace;
  font-size: 80%;
  margin: 2px 0;
}

.resultUnit {
  font-size: 60%;
  opacity: 0.6;
  margin-left: 7px;
}

.metricsList {
  margin-top: 10px;
  display:flex;
  flex-direction: column;
}

.metricsList button {
  margin-top: 5px;
}

.draggableItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  padding: 3px 15px 3px 15px;
  margin: 0 0 3px 0;
  background-color: #fff;
  border-radius: 4;
  border: 1px solid #fbfbfb;
  background: rgba(0,0,0,0.02);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}
.draggableItem[data-disabled=true] {
  cursor: not-allowed;
  color: #aaa;
}
.draggableItemRemove {
  opacity: 0.3;
}
.draggableItemRemove:hover:not([disabled]) {
  opacity: 0.7;
}
.draggableItemRemove[disabled] {
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  .draggableItem {
    border: 1px solid #303030;
    background: rgba(255,255,255,0.02);
    color: #ddd;
  }
  .draggableItemRemove {
    color: #f0f0f0;
  }
}

.plotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0,0,0,0.02);
  box-shadow: 0 2px 5px rgba(0,0,0,0.12);
  margin: 5px 0;
  padding: 5px 0;
}

@media (prefers-color-scheme: dark) {
  .plotContainer {
    background: rgba(255,255,255,0.02);
  }
}

.plotTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.plotTitle h4 {
  font-weight: bold;
  margin: 0;
}

.visualizationCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualizationColTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.visualizationColTitle h4 {
  font-weight: bold;
  margin: 0;
}